
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$ko: #33A0FF;
$popp: 'Poppins', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: auto;
}
// Top way
.way {
    padding: 10px 8px;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
    h4 {
        cursor: pointer;
        color: $ko;
        font-family: $popp;
        font-size: 1.1rem;
    }
    h4:nth-child(3) {
        color: #292929;
    }
}
// Asosiy Qismi 

.mainNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    li {
        list-style-type: none;
    }
    .dontknow {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    a {
        text-decoration: none;
        font: {
            size: 1.2rem;
            family: $popp;
            weight: 500;
        }
        color: #292929;
    }
}
.productContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .productInfo {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f2f2;
        padding: 8px 10px;
        border-radius: 8px;
        img {
            width: 150px;
        }
        h4 {
            font: {
                size: 1.2rem;
                weight: 400;
                family: $popp;
            }
        }
    }
    .saleProduct {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-left: 30px;
        .cost {
            background-color: #f2f2f2;
            padding: 10px 15px;
            border-radius: 8px;
            color: #292929;
            height: max-content;
            font: {
                size: 1.2rem;
                weight: 400;
                family: $popp;
            }
        }
        .count {
            width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            border-radius: 5px;
            #minus {
                background-color: #33A0FF;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                height: max-content;
                color: #f2f2f2;
                font: {
                    size: 1.1rem;
                    weight: 400;
                    family: $popp;
                }
            }
            #son {
                font: {
                    size: 1.2rem;
                    family: $popp;
                    weight:500;
                }
            }
            #plus {
                background-color: #33A0FF;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                height: max-content;
                color: #f2f2f2;
                font: {
                    size: 1.1rem;
                    weight: 400;
                    family: $popp;
                }
            }
        }
        .cost2 {
            background-color: #f2f2f2;
            padding: 10px 15px;
            border-radius: 8px;
            color: #292929;
            height: max-content;
            font: {
                size: 1.2rem;
                weight: 400;
                family: $popp;
            }
        }
    }
}
// sotib__Olish
.sotib__Olish {
    margin-top: 120px;
    width: 30%;
    height: 230px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 90%;
    left: 70%;
    h3 {
        font: {
            size: 1.5rem;
            family:$popp;
            weight: 600;
        }
    }
    h4 {
        font: {
            size: 1.5rem;
            family:$popp;
            weight: 600;
        }
    }
    div:nth-child(1) {
        p {
            font: {
                family: $popp;
                size: 1.2rem;
                weight: 400;
            }
        }
    } 
    div:nth-child(2) {
        p {
            font: {
                family: $popp;
                size: 1rem;
                weight: 500;
            }
            color: #33A0FF;
        }
    } 
    button {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
        padding: 10px 15px;
        border: none;
        border-radius: 8px;
        background-color: #33A0FF;
        color: #f2f2f2;
        font: {
            size: 1.2rem;
            family: $popp;
            weight:500;
        }
    }
}

// modal
.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1021px;
    height:650px;
    border-radius: 8px;
    background: #33A0FF;
    padding: 80px;
    #remove {
        color: #DFDEDE;
        font: {
            size: 2.1rem;
            family:$popp;
            weight: 500;
            cursor: pointer;
        }
        cursor: pointer;
    }
    #remove2 {
        color: #DFDEDE;
        font: {
            size: 2.1rem;
            family:$popp;
            weight: 500;
            cursor: pointer;
        }
        cursor: pointer;
    }
    h4 {
        color: #DFDEDE;
        font: {
            size: 4rem;
            family: $popp;
            weight: 500;
        }
        text-align: center;
        margin-bottom: 30px;
    }
    input {
        border: none;
        border-radius: 5px;
        outline: none;
        background: #DFDEDE;
        width: 380px;
        padding: 3px 5px;
        height: 50px;
        margin-top: 30px;
        margin-left: 20px;
    }
    button {
        width: 338px;
        height: 50px;
        margin-left: 20px;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;
        background-color: #292929;
        color: #DFDEDE;
        font: {
            size: 1.2rem;
            family: $popp;
            weight: 500;
        }
        cursor: pointer;
    }
}
#confirm {
    background-color: #DFDEDE;
    color: #33A0FF;
    margin-top: 20px;
    transition: all 0.2s;
}
#confirm:hover  {
    background-color: #292929;
    color: #DFDEDE;
}
.modalDone  {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1021px;
    height:650px;
    border-radius: 8px;
    background: #33A0FF;
    padding: 80px;
    text-align: center;
    h4 {
        color: #DFDEDE;
        font: {
            size: 4rem;
            family: $popp;
            weight: 500;
        }
        text-align: center;
        margin-bottom: 30px;
    }
    h5 {
        font: {
            size: 5rem;
            family: $popp;
            weight: 500;
        }
        color: #DFDEDE;
        margin-top: 100px;
    }
    button {
        border: 2px solid #DFDEDE;
        border-radius: 8px;
        padding: 8px 16px;
        background-color: #f2f2f2;
        cursor: pointer;
        margin-top: 100px;
    }
}

 // class for js
 .modal1show {
     display: block;
 }
 .bodyOverflow {
     overflow: hidden;
 } 
 // RWD
 @media only screen and(max-width:768px){
    html {
        font-size: 14px;
    }
    .productContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .productInfo {
            width: 90%;
            margin: auto;
            margin-top: 50px;
        }
        .saleProduct {
            margin-top: 100px;
            width: 90%;
            margin: auto;
        }
    }
    .sotib__Olish {
        width: 50%;
        margin: auto;
        position: relative;
        left: 30%;
        top: 300px;
        transform: translate(-50%, -80%);
    }
    // Modal responsive
    .modal {
        width: 100%;
        height: 100vh;
        position: absolute;
        h4 {
            font-size: 3rem;
            margin-bottom: 20px;
        }
        button {
            margin-top: 20px;
            width: 382px;
        }
    }
    .modalDone {
        position: absolute;
        width: 100%;
        height: 100vh;
    }
 }
 
 @media only screen and(max-width:480px){
    html {
        font-size: 14px;
    }
    .productContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .productInfo {
            width: 90%;
            margin: auto;
            margin-top: 50px;
        }
        .saleProduct {
            margin-top: 100px;
            width: 90%;
            margin: auto;
        }
    }
    .mainNav {
        display: flex;
        justify-content: center;
        background-color: #DFDEDE;
        padding: 8px;
        .dontknow {
            display: none;
        }
    }
    .sotib__Olish {
        width: 50%;
        margin: auto;
        position: relative;
        left: 30%;
        top: 300px;
        transform: translate(-50%, -80%);
        button {
            padding: 8px 12px !important;
        }
    }
 }